#order-info > tr > th {
  padding-right: 10em;
}

section {
  padding: 1em;
  text-align: left;
  max-width: 10000px;
  /*margin-left: 1em;*/
  margin: auto;
}

.order-hr {
  margin: 0 2em;
}

th {
  padding-right: 2em;
}

.type-col-item {
  padding-right: 1em;
}

.adresses {
  display: flex;

}

#billing-adress {
  padding-right: 1em;
}

.products-section {
  padding: 1em 0;
}

.order-list {
  max-width: 600px;
  margin: auto;
}

#orderListH2 {
  margin-bottom: 2em;
}

#product_table_head {
  text-align: center;
  padding-bottom: 0.6em;
}

.product-rows > td {
  padding-right: 1em;
}

.add-button {
  font-size: 0.8em;
  margin-top: 0.5em;
}

.add-btn-div {
  text-align: center;
}

.product-icon {
  width:200px;
  border-radius: 4px;
}

#new-order-products-list {
  display: flex;
}

.product-card {
  padding: 0.5em 1em;
  margin: 0.3em;
  border: 5px solid #2fc974;
  background-color: antiquewhite;
  /*background-color: #2fc974;*/
  border-radius: 4px;
}

.product-card > form > p {
  color: grey;
}

.input-qty {
  width: 50px;
  color: black;
  text-align: center;
}

.qte-line {
  display: flex;
  color: grey;
}

.qte-p {
  margin-right: 0.3em;
  color: grey;
}

.send-btn {
  margin: auto;
  width: 10em;
}